# The releng team is by default the owner of everything.
*             @eclipse-canon-c/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-canon-c/eclipsefdn-security
